
<div class="index-wrapper">
  <% page.posts.each(function(post) { %>
    <article class="row index-post-wrapper">
      <% if (post.img_src) { %> 
        <div class="col-12 col-md-4 mx-auto post-image">
          <img src="<%= url_for(post.img_src) %>" />
        </div>
      <% } %>
      <div class="col-12 col-md-<%= post.img_src ? '8' : '12' %> mx-auto post-intro">
        <div class="post-header <%= post.sticky > 0 ? 'justify-content-between' : null %>">
          <h1>
            <%= post.title %>
          </h1>
          <% if (theme.index.enable_sticky && post.sticky > 0) { %>
            <i class="fas fa-thumbtack"></i>
          <% } %>
        </div>
        <div class="description">
          <% if(post.description) { %>
            <%- post.description %>
          <% } else if (post.content) { %>
            <%- strip_html(post.content).substr(0, 200) + '...' %>
          <% } else { %>
            No content of this post.
          <% } %>
        </div>
        <div class="date"><%= date(post.date, 'MM/DD/YYYY') %></div>
      </div>
    </article>
  <% }) %> 
</div>
