<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
  <header>
    <%- partial('_partial/nav') %>
  </header>

  <main>
    <div class="container">
      <div id="main">
        <div class="row py-5">
          <div class="col">
            <%- body %>
          </div>
        </div>
      </div>
    </div>

    <%- partial('_widget/scroll-top') %> 

  </main>

  <%- partial('_partial/footer') %>

  <%- partial('_widget/search') %>

  <%- partial('_partial/scripts') %>
</body>

</html>