<ul class="list-group">
  <h2 class="list-header"><%= params.postTotal || 0 %> Posts</h2>
  <% let currDate; %> 
  <% page.posts.each(function(post) { %>
    <% if (currDate !== date(post.date, 'YYYY')) { %>
      <% currDate = date(post.date, 'YYYY') %> 
      <h3><%= currDate %></h3>
    <% } %>
    <li class="list-group-item">
      <div class="d-inline">
        <a href="<%= url_for(post.path) %>" target="<%- theme.index.post_url_target %>">
          <%= post.title %>
        </a>
      </div>
      <div class="post-date"><%= date(post.date, 'MM/DD') %>  
    </li>
  <% })%> 
</ul>
