<article class="post-wrapper markdown-body">
  <h2 class="post-title">
    <%- item.title %>
  </h2>
  <div class="post-meta">
    <time datetime="<%= full_date(date) %> "><%= date(item.date, config.date_format) %></time>
    <% if(item.author) { %>
        by <span class="author"><%- item.author %></span>
    <% } %>
    <% if(item.categories) { %>
      <% item.categories.each(function(category) { %>
        <a class="tag" href="<%= url_for(category.path) %>"><%= category.name %></a> 
      <% }) %> 
    <% } %>
    <% if(item.tags) { %>
      <% item.tags.each(function(tag) { %>
        <a class="tag" href="<%= url_for(tag.path) %>"><%= tag.name %></a> 
      <% }) %> 
    <% } %>
    <% if(item.source_url) { %>
      <div class="source">Source: <a href="<%= url_for(item.source_url) %>"><%= item.source_url %></a></div>
    <% } %>
  </div>
  
  <div id="content">
    <%- item.content %>
  </div>

</article>